$logoPaddingLeft: 12em;
$logoPaddingTop: 1.5em;
$logoPositionWidth: 3.5em;
$logoPositionHeight: 3.5em;
$backgroundImageHeader: url(../img/m-h-day.jpg) no-repeat;
$backgroundImageHeaderSize: 101%;
$backgroundImageHeaderPosition: 0px -183px;
$labelLogoLineHeight: 0.75;
$fontFamilySans: ('Source Sans Pro', sans-serif);
$labelLogoFont: ('Hind', sans-serif);

$colors: 
("lableSection": #2C2F3C, 
"sectionBackCardColor": #21232E, 
"highlight": #14A0C7, 
"button": #699900, 
"mainBackgroundColor": #FFFFFF,  
"sectionMainColor": #B4BBC2,
"Gradient-1": #65950E, 
"Gradient-2": #315FCC, 
"footerBackgroundColor": #21232E);