$logoPaddingLeft: 12em;
$logoPaddingTop: 1.5em;
$logoPositionWidth: 3.5em;
$logoPositionHeight: 3.5em;
$backgroundImageHeader: url(../img/m-h-night.jpg) no-repeat;
$backgroundImageHeaderSize: 101%;
$backgroundImageHeaderPosition: 0px -223px;
$labelLogoLineHeight: 0.75;
$fontFamilySans: 'Source Sans Pro', sans-serif;
$labelLogoFont: 'Fresca', sans-serif;

$colors: 
("lableSection": #FFFFFF, 
"sectionBackCardColor": #3B3F50, 
"highlight": #FF4E33, 
"button": #E3AC00, 
"mainBackgroundColor": #21232E,  
"sectionMainColor": #B4BBC2, 
"Gradient-1": #DEA406, 
"Gradient-2": #96324F, 
"footerBackgroundColor": #3B3F50);